{% extends "layout.html" %}
{% load humanize %}

{% block content %}
	{% if reservation %}
		{% if request.user.profile == reservation.profile %}
		<h2>Your have the server reserved until {{reservation.expiration|naturaltime}}. The password is: {{reservation.password}}</h2>
		<p>Are you getting a "TCP Error 5" message when you try to join? Try deleting your reservation and trying again.</p>
		<form action="{% url 'reservations.delete' %}" method="POST">
			{% csrf_token %}
			{% method 'DELETE' %}
			<button type="submit" href="{% url 'reservations.delete' %}">Delete my reservation!</button>
		</form>
		{% else %}
		<h2>The server is reserved by: {{reservation.profile.user.username}}</h2>
		{% endif %}
	{% else %}
		<p>
		<form action="{% url 'reservations.create' %}" method="POST">{% csrf_token %}
			<select name="map">
				<option value="city" selected="selected">Arctic</option>
				<option value="arena">Arena</option>
				<option value="city" selected="selected">City</option>
				<option value="desertcity">Desert City</option>
				<option value="factory">Factory</option>
				<option value="fields">Fields</option>
				<option value="fields2">Fields2</option>
				<option value="lake">Lake</option>
				<option value="mines">Mines</option>
				<option value="rooftops">Rooftops</option>
				<option value="sand">Sand</option>
				<option value="sewers">Sewers</option>
				<option value="snow">Snow</option>
				<option value="throne">Throne</option>
				<option value="warehouse">Warehouse</option>
				<option value="warer">Water</option>
			</select>
			<br>
			<br>
			<button type="submit">Reserve Server Now!</button>
		</form>
		</p>
	{% endif %}
{% endblock %}
